# Приклад: D:/Movies або C:\\Users\\Serhii\\Videos
MEDIA_FOLDER_PATH=""
TMDB_API_KEY=""
SPREADSHEET_NAME="MovieList"
GEMINI_API_KEY=""
#Comma separated folder names
EXCLUDE_FOLDERS=""
GEMINI_MODEL_NAME=gemini-3-flash-preview
GOOGLE_SHEET_URL=""
GOOGLE_SHEET_WORKSHEET_NAME="base"